body {
  font-family: 'Roboto', sans-serif;
}

/* DEBUG */
.box {
  background-color: yellow;
  height: 100px;
}
.box1 {
  background-color: green;
  height: 100px;
}
.box3 {
  background-color: cyan;
  height: 100px;
}

/* Header */
header {
 background: white;
 height: 70px;
 padding: 20px;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 2;
 border-bottom: 2px solid blue;
}
header .lista1 {
  margin-top: 6px;
}
header ul li a {
  font-weight: 500;
  color: #192E5D;
  font-size: 15px;
}
header ul li .btn-blue:hover {
  text-decoration: none;
  background-color: green;
  color: yellow;
}
header ul .btn-blue {
  color: #1979FF;
  background-color: #fff;
  border-color: #4F90FF;
}
/* Sezione main */
main {
  padding-top: 70px;
}
/* JUMBOTRON */
#jumbotron {
  background-image: url('../img/bg-banner-home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 100px;
}
#jumbotron h1 {
  color: white;
  font-size: 50px;
}
#jumbotron .col-lg-7 p {
  color: #BBCDFF;
  font-size: 20px;
}
#jumbotron .column-sx {
  padding-right: 97px;
}


#jumbotron .signup {
  width: 100%;
  height: 300px;
  background-color: white;
  border-radius: 5px;
}
#jumbotron form {
  width: 90%;
  margin: 0 auto;
}
#jumbotron form .butt {
  width: 100%;
  margin-bottom: 10px;
}
.signup h3:last-of-type {
  color: #3380FF;
}
.signup h3:first-of-type {
  margin-bottom: -8px;
}
/* sezione loghi partner */
#partner {
  background-color: #F4F5F9;
  padding: 20px 0;
}
#partner img {
  padding: 0 10px;
  width: calc((100% / 6) - 5px);
}
#partner h4 {
  color: grey;
  font-size: 20px;
}
#partner a {
  font-size: 15px;
  font-weight: 500;
}
