body {
  font-family: 'Roboto', sans-serif;
}

/* DEBUG */
.box {
  background-color: yellow;
  height: 100px;
}
.box1 {
  background-color: green;
  height: 100px;
}
.box3 {
  background-color: cyan;
  height: 100px;
}

/* Header */
header {
 background: white;
 height: 70px;
 padding: 20px;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 2;
 border-bottom: 2px solid blue;
}
header .lista1 {
  margin-top: 6px;
}
header ul li a {
  font-weight: 500;
  color: #192E5D;
  font-size: 15px;
}
header ul li .btn-blue:hover {
  text-decoration: none;
  background-color: green;
  color: yellow;
}
header ul .btn-blue {
  color: #1979FF;
  background-color: #fff;
  border-color: #4F90FF;
}
/* Sezione main */
main {
  padding-top: 70px;
}
/* JUMBOTRON */
#jumbotron {
  background-image: url('../img/bg-banner-home.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  padding-top: 100px;
}
#jumbotron h1 {
  color: white;
  font-size: 50px;
}
#jumbotron .col-lg-7 p {
  color: #BBCDFF;
  font-size: 20px;
}
#jumbotron .column-sx {
  padding-right: 97px;
}


#jumbotron .signup {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
#jumbotron form {
  width: 90%;
  margin: 0 auto;
}
#jumbotron form .butt {
  width: 100%;
  margin-bottom: 10px;
}
.signup h3:last-of-type {
  color: #3380FF;
}
.signup h3:first-of-type {
  margin-bottom: -8px;
}
.signup img {
  width: 20px;
  height: auto;
  position: absolute;
  top: 6px;
  left: 8px;
}
.signup button {
  position: relative;
}
/* sezione loghi partner */
#partner {
  background-color: #F4F5F9;
  padding: 20px 0;
}
.immagini {
  width: 98%;
}
#partner img {
  width: calc(100% / 6 - 10px);
  padding: 0 10px;
}
#partner h4 {
  color: grey;
  font-size: 20px;
}
#partner a {
  font-size: 15px;
  font-weight: 500;
}
/* prova con loghi */
#partner .inlinea {
  display: inline-block;
  width: calc((100% / 6)- 10px;)

}

/* sezione deploy */
#deploy {
  padding: 30px 0;
}
#deploy ul {
  border-left: 2px solid #848EA5;
  padding: 17px 10px 17px 30px;
}

#deploy ul li {
  padding: 10px 0;
  font-size: 19px;
  color: #848EA5;
}
#deploy h1 {
  font-weight: 700;
  font-size: 26px;
  color: #031B4E;
}
#deploy .col-lg-12 p {
  color: #64728E;
  font-size: 19px;
  padding-bottom: 50px;
}
#deploy .one-click,
#deploy .global {
  padding-top: 20px;
}
#deploy .compute,
#deploy .global {
  padding-right: 97px;
}
#deploy .cluster,
#deploy .one-click {
  padding-right: 42px;
}
/* Sezione developers */
#developers {
  background: #F4F5F9;
}

#developers h1 {
  font-weight: 700;
  font-size: 26px;
  color: #031B4E;
}
#developers .col-top p {
  color: #64728E;
  font-size: 19px;
  padding-bottom: 30px;
}
#developers .col-down p {
  color: #30446E;
  font-size: 14px;
  padding: 5px 0 0;
  font-weight: 500;
}
#developers .slider {
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}
#developers .fa-chevron-left {
  color: #6F7B97;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 0;
}
#developers .fa-chevron-right {
  color: #6F7B97;
  font-size: 40px;
  position: absolute;
  top: 50%;
  right: 0;
}

#developers .fa-chevron-right:hover,
#developers .fa-chevron-left:hover {
  color: black;
}
/* PAlline sotto slider */
#developers span i {
  color: #2485fd;
  font-size: 14px;
  padding: 0 4px 30px;
}
/*  fine sezione developers */

/* inizio sezione business */
#business {
  padding-bottom: 30px;

}
#business h1 {
  padding: 20px 0 10px;
}
#business  a {
  font-size: 16px;
  font-weight: 500;
}

/* sezione tabella */
#customer {
  background-image: linear-gradient(#0047C5, #00209C);
  color: white;
  padding-bottom: 30px;
}
#customer h1 {
  padding-top: 20px;
}
#customer .bordo {
  border-bottom: 1px solid white;
  line-height: 30px;
}
#customer a {
  font-size: 16px;
  font-weight: 500;
}
#customer .last {
  line-height: 30px;
}
/* Sezione rocker box */
#rockerbox {
  padding: 20px 0 60px;
  background: #F4F5F9;
}
#rockerbox .rock-slider {
  padding: 70px 145px;
  background: white;
  position: relative;
}
#rockerbox h1 {
  padding-bottom: 40px;
}
#rockerbox p {
  font-size: 17px;
  padding: 20px 0 10px;
}

#rockerbox .fa-chevron-left {
  color: #6F7B97;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: -30px;
}
#rockerbox .fa-chevron-right {
  color: #6F7B97;
  font-size: 40px;
  position: absolute;
  top: 50%;
  right: -30px;
}

#rockerbox .fa-chevron-right:hover,
#rockerbox .fa-chevron-left:hover {
  color: red;
}
#rockerbox span i {
  color: #2485fd;
  font-size: 14px;
  padding: 10px 4px 30px;
}
/* Sezione account */
#account {
  background-image: linear-gradient(#0047C5, #00209C);
  color: white;
  padding: 60px 0;
}
#account h2 {
  padding-bottom: 20px;
}
/* Footer */
footer {
  background: #031B4E;
  padding: 30px 0 100px;
  color: #707C98;
}
footer h6 {
  font-size: 17px;
}
footer h5 {
  color: white;
  font-size: 18px;
}
footer p {
  font-size: 16px;
}
footer a {
  color: #707C98;
  font-size: 17px;
}
footer a i {
  font-size: 20px;
}
/* shark */
/* TOOLTIP STYLES */

.fumetto {
  position: relative;
  width: 200px;
  padding: 5px;
  background: #fff;
  line-height: 1.45;
  border-radius: 5px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
}

.fumetto::before {
  content: '';
  position: absolute;
  bottom: 15px;
  right: -5px;
  width: 10px;
  height: 10px;
  background: #fff;
  transform: rotate(45deg);
}
footer .fumetto p {
  font-size: 10px;
}
footer .shark span {
 width: 25px;
 height: 25px;
 text-align: center;
 line-height: 25px;
 border: 2px solid white;
 background: orange;
 border-radius: 50%;
 font-size: 16px;
}
.shark {
  position: relative;
}
footer .shark img {
  position: absolute;
  bottom: 0;
  left: 215px;
  width: 80px;
  background: blue;
  border-radius: 10px;
}
footer .shark span {
  position: absolute;
  bottom: 43px;
  left: 289px;
}
.fix {
  display: inline-block;
  position: fixed;
  width: 80%;
  z-index: 3;
  bottom: 10px;
  left: 1200px;
}






/* responsive part */
@media all and (max-width: 1199px) {
  header .col-md-5 {
    text-align: right;
  }
}
@media all and (max-width: 991px) {
  header .col-sm-5 {
    text-align: right;
  }
  #jumbotron {
    height: auto;
    padding-bottom: 30px;
  }
  .immagini {
    width: 98%;
  }
  #partner img {
    width: calc(100% / 2 - 10px);
    padding: 0 10px;
  }
}
