body {
  font-family: 'Roboto', sans-serif;
  background: black;
  color: blue;
}

/* DEBUG */
.box {
  background-color: yellow;
  height: 100px;
}
.box1 {
  background-color: green;
  height: 100px;
}
.box3 {
  background-color: cyan;
  height: 100px;
}

/* Header */
header {
  background: red;
}
